.test {
  background: white;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  padding: 3px
}

html, body, .container {
  height: 100vh;
  margin: 0
}

.container {
  display: grid;
  grid-auto-rows: 1fr 3fr 14fr 3fr
}

.header {
  text-align: center;
  background-color: #72abce;
  border-bottom: solid;
  border-color: black;
  border-width: 5px;
  font-size: 18px;
}

.header>h1 {
  margin: 8px
}

.top-row, .cards-row, .footer-row {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.score-column {
  display: grid;
  grid-auto-rows: 4fr 1fr 1fr 12fr
}

#cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 1em;
  padding: 1em;
  border: solid;
  border-color: black;
  border-width: 10px
}

/* entire container, keeps perspective */

.flip-container {
  perspective: 1000px;
  cursor: pointer;
}

.flip-container, .front, .back {
  height: 140px;
  width: 140px;
  margin: auto;
}

/* flip speed goes here */

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  background-color: #FFFFFF
}

/* back, initially hidden pane */

.back {
  transform: rotateY(180deg)
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.flip-container.flip .flipper {
  transform: rotateY(180deg);
}

.odometer {
  font-size: 20px;
  border-radius: 0;
}

#popUp {
  z-index: 2;
  display: grid;
  grid-auto-rows: 1fr 2fr 2fr 6fr;
  background-color: white;
}

#results {
  font-size: 30px;
  text-align: center;
  background-color: #e8a344
}

#memory-score-row >span, #pairs-correct-row >span, #incorrect-flips-row >span {
  font-size: 25px;
  display: block;
  padding-bottom: 15px;
}

#memory-score-row, #pairs-correct-row, #incorrect-flips-row, #star-bounus-header {
  padding: 5px;
  text-align: center;
}

#memory-score-row {
  background-color: #72abce
}
#memory-score-row > p{
  margin: 0
}


#pairs-correct-row {
  background-color: #bb4f44
}
#incorrect-flips-row{
  background-color: white
}
#star-row{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

#star-bounus-header{
  background-color: white;
}

.blue{
  color: blue
}
.red{
  color: red
}

.star{
  text-align: center;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

#start-column, #refresh-column{
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  margin: 6px;
  margin-left: 16px;
}

#results-column {
  display: grid;
  grid-auto-rows: 1fr 4fr 1fr 2.25fr 4fr 4fr;
  margin-right: 10px;
  z-index: 3
}
#star-bounus-header >span{
  font-size: 25px
}
.bottom-border{
  border-bottom: solid;
  border-color: black;
}
.black-border{
  border: solid;
  border-color: black;
}


button {
  cursor: pointer;
}

#try-again {
  background: linear-gradient(to bottom right, #b4e391, #61c419, #b4e391);
  font-size: 25px;
  font-weight: bold;
  border: solid;
  border-color: black;
}

#try-again-column {
  display: grid;
  margin: 10px;
}

#timer {
  padding-left: 30px;
  background-image: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

#score-board {
  margin-left: 10px;
}

#score-header {
  padding-left: 10px;
}

#score-header>h3 {
  margin: 0;
}
#frozen-header{
  display: inline;
  font-size: 25px;
  color: #3580c7;
  font-weight: bold;
  display: none
}
#frozen-header-container{
  text-align: center;
}

#start-button {
  background: linear-gradient(to bottom right, #b4e391, #61c419, #b4e391);
  font-size: 25px;
  font-weight: bold;
  border: solid;
  border-color: black
}
#refresh-button {
  background: linear-gradient(to bottom right, #72abce, #3580c7, #72abce);
  font-size: 25px;
  font-weight: bold;
  border: solid;
  border-color: black
}




#incorrect-flips, #memory-score, #correct-pairs{
  padding-top: 30px;
  font-size: 50px;
  font-weight: bold;
}




















.pulse {
  z-index: 4;
  box-shadow: 0 0 0 #61c419;
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 black;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px black;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 black;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 black;
    box-shadow: 0 0 0 0 black;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
